
stages:
  - build
  - deploy

build:windows:386:
  stage: build
  script:
    - export CI_OS=windows
    - export CI_ARCH=386
    - release/ci-build.js
  tags:
    - windows
  artifacts:
    expire_in: 1 week
    paths:
      - broth

build:darwin:amd64:
  stage: build
  script:
    - export CI_OS=darwin
    - export CI_ARCH=amd64
    - release/ci-build.js
  tags:
    - darwin
  artifacts:
    expire_in: 1 week
    paths:
      - broth

build:linux:386:
  stage: build
  script:
    - export CI_OS=linux
    - export CI_ARCH=386
    - release/ci-build.js
  tags:
    - linux
  artifacts:
    expire_in: 1 week
    paths:
      - broth

build:linux:amd64:
  stage: build
  script:
    - export CI_OS=linux
    - export CI_ARCH=amd64
    - release/ci-build.js
  tags:
    - linux
  artifacts:
    expire_in: 1 week
    paths:
      - broth

deploy:
  stage: deploy
  tags:
    - dropsy
  script:
    - release/ci-deploy.sh
