
stages:
  - build
  - deploy

build:windows:386:
  stage: build
  script:
    - npm ci --no-audit
    - node release/build.js --os windows --arch 386
  tags:
    - windows
  artifacts:
    expire_in: 1 week
    paths: ["artifacts"]

build:windows:amd64:
  stage: build
  script:
    - npm ci --no-audit
    - node release/build.js --os windows --arch amd64
  tags:
    - windows
  artifacts:
    expire_in: 1 week
    paths: ["artifacts"]

build:darwin:amd64:
  stage: build
  script:
    - npm ci --no-audit
    - node release/build.js --os darwin --arch amd64
  tags:
    - darwin
  artifacts:
    expire_in: 1 week
    paths: ["artifacts"]

build:linux:amd64:
  stage: build
  script:
    - npm ci --no-audit
    - node release/build.js --os linux --arch amd64
  tags:
    - linux
  artifacts:
    expire_in: 1 week
    paths: ["artifacts"]

deploy:
  stage: deploy
  when: manual
  tags:
    - linux
  script:
    - npm ci --no-audit
    - node release/deploy.js
